@font-face{
    font-family:'work-sans';
    src: url("../fonts/WorkSans-Medium.ttf");
}
@font-face{
    font-family:'work-sans';
    src: url("../fonts/WorkSans-Regular.ttf");
}
@font-face{
    font-family:'work-sans';
    src: url("../fonts/WorkSans-SemiBold.ttf");
}